{% extends 'base.html' %}

{% block jumbotron %}
{{ object }}
{% endblock %}
{% block main %}
    <ul>
        <li>{{ object.get_status_display }}</li>
        <li>{{ object.get_order_type_display }}</li>
        <li>{{ object.service_provider }}</li>
        <li>{{ object.date }}</li>
    </ul>

    {% if item_list %}
    {% for item in item_list %}
        {{ item }}{{ item.slab_list }}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
<li><a href="{% url 'process:order_update' object.id %}">编辑订单</a></li>

{% endblock %}