{% extends 'base.html' %}
{% load static %}
{#{% load bootstrap_tags %}#}
{% load crispy_forms_tags %}

{% block main %}
    <form action="" method="post" id="myformset">
        {% csrf_token %}
        {% crispy form %}
        <table class="table" id="formset">
            {{ itemformset.management_form }}
            {{ itemformset.errors }}
            {% for form in itemformset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="form-inline">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <datalist id="block_info">
            {% for block_num in data_list %}
                <option value="{{ block_num }}" data-id="{{ block_num.id }}">{{ block_num }}</option>
            {% endfor %}
        </datalist>
        <input class="btn btn-default" type="button" name="add_button" id="add_f" value="添加一行">
        <input class="btn btn-danger" type="button" name="remove_button" id="remove_f" value="删除一行">
        <input type="hidden" name="order_type" value="{{ order_type }}">
        <input type="submit" class="btn btn-primary" value="提交">
    </form>
{% endblock %}
{% block domready %}
    $('#add_f').click(function(){
    add_form('{{ itemformset.prefix }}')})
    $('#remove_f').click(function(){
    remove_form('{{ itemformset.prefix }}')})
{% endblock %}