{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block main %}
    <form action="{% url 'process:import_slab' %}" method="post" id="formset" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form|as_bootstrap }}#}
        {{ item_form|as_bootstrap }}
        <input type="button" id="import" v-on:cilck="import_list" class="btn btn-primary" value="提交">
        <input type="submit" class="btn btn-primary" value="提交">
    </form>
    <script type="text/javascript">
      var ip = new Vue({
          el:'#import',
          methods: {
              import_list:function () {
                  axios.post('{% url 'process:import_slab' %}').then()
              }
          }
      })
    </script>
{% endblock %}
