{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{#{% load crispy_forms_tags %}#}

{% block main %}
    <form action="" method="post" id="myformset">
        {% csrf_token %}
        {#        {% crispy form %}#}
        {{ form|as_bootstrap_horizontal }}

        <table class="table" id="formset">
            {{ itemformset.management_form }}
            {% if  itemformset.non_form_errors %}
                {% for error in  itemformset.non_form_errors %}
                    <p class="bg-warning">{{ itemformset.non_form_errors }}</p>
                {% endfor %}
            {% endif %}
            {#            {% if itemformset.errors %}#}
            {#                <ul>#}
            {#                    {% for  error in itemformset.errors %}#}
            {#                        <li>={{ error }}</li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            {% endif %}#}


            {% for form in itemformset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="form-inline">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {#                                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}#}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <datalist id="block_info">
            {% for block_num in data_list %}
                <option value="{{ block_num }}" data-id="{{ block_num.id }}">{{ block_num }}</option>
            {% endfor %}
        </datalist>
        <input class="btn btn-default" type="button" id="add_f" value="添加一行">
        <input class="btn btn-default" type="button" id="remove_f" value="删除最后一行">
        <input type="hidden" name="order_type" value="{{ order_type }}">
        <input type="submit" class="btn btn-primary" value="提交">
    </form>
{% endblock %}
{% block domready %}
    $('#add_f').click(function(){
    add_form('{{ itemformset.prefix }}')})//formset添加一行
    $('#remove_f').click(function(){
    remove_form('{{ itemformset.prefix }}')})//删去formset最后一行

    $('.dt').datetimepicker({
    minView : "day", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
    language: 'zh-CN', // 语言
    autoclose : true, //  true:选择时间后窗口自动关闭
    format : 'yyyy-mm-dd ', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00  //hh:00:00
    todayBtn : 'linked', // 如果此值为true 或 "linked"，则在日期时间选择器组件的底部显示一个 "Today" 按钮用以选择当前日期。
{#    startDate : new Date() ,  // 窗口可选时间从今天开始#}
{#    endDate : new Date()   // 窗口最大时间直至今天#}
    })
{% endblock %}