{% extends 'base.html' %}

{% block list_group %}
    {% for object in object_list %}
    <a class="list-group-item" href="{{ object.get_absolute_url }}">{{ object }}</a>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <li><a href="{% url 'process:order_create' %}?order_type=TS" class="btn btn-default">新建运输单</a></li>
    <li><a href="{% url 'process:order_create' %}?order_type=KS" class="btn btn-default">新建界石单</a></li>
    <li><a href="{% url 'process:mb_order_create' %}?order_type=MB" class="btn btn-default">新建补石单</a></li>
{% endblock %}