{% extends 'base.html' %}

{% block list_group %}
    {% for object in object_list %}
        <div class="list-group">
            <a class="list-group-item" href="#">
                {{ object.name }}[{{ object.get_service_type_display }}]
            </a>
            {% empty %}
            <div class="list-group-item" href="#">
                赶快找到伙伴们！
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <li><a href="#" class="btn btn-default">新建伙伴</a></li>
{% endblock %}