{% extends 'base.html' %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>{{ object.name }}</li>
                <li>{{ object.address }}</li>
                <li>{{ object.get_service_type_display }}</li>
                <li>{{ object.contacts }}</li>
                <li>{{ object.telephone }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <li><a href="{% url 'process:serviceprovider_update' object.id %}" class="btn btn-default">编辑资料</a></li>
    <li><a href="{% url 'process:serviceprovider_delete' object.id %}" class="btn btn-default">删去资料</a></li>
{% endblock %}