{% extends 'base.html' %}
{% load sales_tags %}
{% block title %}{{ object }}{% endblock %}
{% block jumbotron %}
    <h2 class="page-header"><a href="{{ object.order.get_absolute_url }}">{{ object.order }}</a>
        <small>{{ object.get_status_display }}</small>
    </h2>{% endblock %}
{% block main %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">订单信息<a class="btn btn-link" href=
                    "{% url 'sales:order_update_info' object.id %}">
                修改
            </a></h3>
            <div class="panel-body">
                <ul>
                    <li>对应销售订单号:{{ object.order }}</li>
                    <li>日期:{{ object.date }}</li>
                    <li>提货人:{{ object.consignee }}</li>
                    <li>提货车牌:{{ object.cart_num }}</li>
                    <li>数据录入人员:{{ object.data_entry_staff }}</li>
                    <li>创建日期:{{ object.created }}</li>
                    <li>更新日期:{{ object.updated }}</li>
                    <li>备注信息:{{ object.ps }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">提货货品信息 <a class="btn btn-link" href=
                    "{% url 'sales:order_update_item' object.id %}">
                修改
            </a></h3>
            <div class="panel-body">
                {% if item_list %}
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>荒料编号</th>
                            <th>厚度</th>
                            <th>夹数</th>
                            <th>件数</th>
                            <th>数量</th>
                            <th>码单</th>
                        </tr>

                        {% for object in item_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{{ object.block_num.get_absolute_url }}">{{ object.block_num }}</a>
                                </td>
                                <td>{{ object.thickness }}</td>
                                <td>{{ object.part }}</td>
                                <td>{{ object.pic }}</td>
                                <td>{{ object.quantity }}{{ object.unit }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" data-target="#" class="dropdown-toggle"
                                           data-toggle="dropdown" role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false"><span
                                                class="btn btn-default btn-sm">操作</span><span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a
                                                    href="{% url 'product:slab_list'  object.block_num %}">修改</a>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                <button class="btn btn-info"
                                                        onclick="gogo_slab_list('{{ object.block_num }}','{{ object.thickness }}','{{ object.ids }}','{% url "product:order_slab_list" %}')">
                                                    新页面打开
                                                </button>
                                                <a href="{% url 'product:slab_list'  object.block_num %}?slab_ids={{ object.slab_ids }}">打开</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>总计：</th>
                            <th>{{ item_total_count }}</th>
                            <th></th>
                            <th>{{ total_part }}</th>
                            <th>{{ total_pic }}</th>
                            <th>{% for unit, quantity in item_total_quantity.items %}
                                {{ quantity }}{{ unit }}<br>{% endfor %}</th>
                            <th></th>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    {% if can_pickup_item_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">可提货数量 <a class="btn btn-link" href=
                        "{% url 'sales:pickup_create' object.id %}">
                    提货
                </a></h3>
                <div class="panel-body">
                    {% if item_list %}
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>荒料编号</th>
                                <th>厚度</th>
                                <th>夹数</th>
                                <th>件数</th>
                                <th>数量</th>
                                <th>码单</th>
                            </tr>

                            {% for object in can_pickup_item_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{{ object.block_num.get_absolute_url }}">{{ object.block_num }}</a>
                                    </td>
                                    <td>{{ object.thickness }}</td>
                                    <td>{{ object.part }}</td>
                                    <td>{{ object.pic }}</td>
                                    <td>{{ object.quantity }}{{ object.unit }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" data-target="#" class="dropdown-toggle"
                                               data-toggle="dropdown" role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false"><span
                                                    class="btn btn-default btn-sm">...</span><span
                                                    class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a
                                                        href="{% url 'product:slab_list'  object.block_num %}">修改</a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <button class="btn btn-info"
                                                            onclick="gogo_slab_list('{{ object.block_num }}',
                                                                    '{{ object.thickness }}','{{ object.ids }}','{% url "product:order_slab_list" %}')">
                                                        新页面打开
                                                    </button>
                                                    <a href="{% url 'product:slab_list'  object.block_num %}?slab_ids={{ object.slab_ids }}">打开</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>总计：</th>
                                <th>{{ item_total_count }}</th>
                                <th></th>
                                <th>{{ total_part }}</th>
                                <th>{{ total_pic }}</th>
                                <th>{% for unit, quantity in item_total_quantity.items %}
                                    {{ quantity }}{{ unit }}<br>
                                {% endfor %}</th>
                                <th></th>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if cost_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">已提货记录
                </h3>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>项目</th>
                            <th>花费</th>
                            <th>备注信息</th>
                        </tr>
                        {% for item in cost_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.get_item_display }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.ps }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>总计:</th>
                            <th>{{ cost_count }}项</th>
                            <th>{{ total_cost }}</th>
                            <th></th>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    {% endif %}
    <a class="btn btn-danger" href="{% url 'sales:pickup_delete' object.id %}">删除本条提货记录</a>
{% endblock %}
{% block sidebar %}
    {% about_this_order object.order.id %}

{% endblock %}