{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{#{% load crispy_forms_tags %}#}

{% block jumbotron %}
    <h2 class="page-header">{{ object.order }}
        <small>{{ object.status }}</small>
    </h2>
{% endblock %}
{% block main %}
    {% if object %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">订单信息</h3>
                <div class="panel-body">
                    <ul>
                        <li>订单号:{{ object.order }}</li>
                        <li>日期:{{ object.date }}</li>
                        <li>客户名称:{{ object.customer }}</li>
                        <li>经办人:{{ object.handler }}</li>
                        <li>销往:{{ object.province }}-{{ object.city }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <form action="" method="post" id="myformset">
        {% csrf_token %}
        {% ifequal step "2" %}
            {{ form|as_bootstrap }}
        {% endifequal %}

        {% if item_list %}
            {{ price_formset.management_form }}
            <h4 class="page-header">选择了的正式码单</h4>
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>荒料编号</th>
                    <th>厚度</th>
                    <th>夹数</th>
                    <th>件数</th>
                    <th>平方</th>
                    <th>单价</th>
                    <th>码单</th>
                    <th>删除</th>
                </tr>

                {% for object, form in item_list %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.block_num }}</td>
                        <td>{{ object.thickness }}</td>
                        <td>{{ object.part_count }}</td>
                        <td>{{ object.block_pics }}</td>
                        <td>{{ object.block_m2 }}</td>
                        <td>
                            {{ form.order }}
                            {{ form.id }}
                            {{ form.block_num }}
                            {{ form.pic }}
                            {{ form.quantity }}
                            {{ form.thickness }}
                            {{ form.unit }}
                            {{ form.price }}
                        </td>
                        <td>
                            <div class="dropdown">
                                <a href="#" data-target="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><span
                                        class="btn btn-default btn-sm">操作</span><span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a
                                            href="{% url 'product:slab_list'  object.block_num %}">修改</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a class="btn btn-info"
                                                onclick="gogo_slab_list('{{ object.block_num }}',
                                                        '{{ object.thickness }}','{% url "product:order_slab_list" %}')">
                                            新页面打开
                                        </a>
                                        <a href="{% url 'product:slab_list'  object.block_num %}?slab_ids={{ object.slab_ids }}">打开</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>


                            <form action="{% url 'cart:remove' %}" method="post">
                                <input type="hidden" name="item" value="{{ object.slab_ids }}">
                                {% csrf_token %}
                                <input class="btn btn-danger btn-sm" type="submit" value="删除">
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}


        <datalist id="block_info">
            {% for block_num in data_list %}
                <option value="{{ block_num }}"
                        data-id="{{ block_num.id }}"
                        data-quantity="{{ block_num.weight }}">{{ block_num }}</option>
            {% endfor %}
        </datalist>
        <input class="btn btn-default" type="button" id="add_f" value="添加一行">
        <input class="btn btn-default" type="button" id="remove_f"
               value="删除最后一行">
        <input type="hidden" name="order_type" value="{{ order_type }}"
               id="order_type">
        <input type="hidden" name="step" value="{{ step }}">
        <input type="hidden" name="update" value="{{ update }}">
        <input type="submit" class="btn btn-primary" value="提交">
        <input type="submit" class="btn-primary" name="next" value="下一步" formmethod="get">
    </form>

{% endblock %}
{% block domready %}
    {#    <script>#}

    $('#add_f').click(function () {
    add_form('{{ itemformset.prefix }}')
    })//formset添加一行
    $('#remove_f').click(function () {
    remove_form('{{ itemformset.prefix }}')
    })//删去formset最后一行

    $('.dt').click(function (event) {
    open_dt(this.id)
    });
    $(':input').onchange(function (
    ){})
    {#    $('.open_slab_list').click(function (event){#}
    {#    gogo_slab_list('{{ object.id }}','{{ object.thickness }}','{% url "product:order_slab_list" %}')#}
    {#    })#}
    {#    </script>#}
{% endblock %}
{% block script %}
    <script>
        function choices_city() {
            var province_id = $('.province').val();
            console.log(province_id)
            $.getJSON('{% url 'sales:get_city_lst' %}', {'province_id': province_id}, function (ret) {
                $('.city').empty();
                ret.forEach(function (i) {
                    $(".city").append("\<option value=" + i.id + "\>" + i.name + "\</option>");
                })

            })
        }
    </script>
{% endblock %}