{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{{ object.order }}</h2>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ object }}</div>
                    <div class="panel-body">

                        <ul>
                            <li>{{ object.supplier }}</li>
                            <li>{{ object.handler }}</li>
                            <li>{{ object.created|date }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if block_list %}
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>荒料编号</th>
                                <th>重量</th>
                                <th>长</th>
                                <th>宽</th>
                                <th>高</th>
                                <th>立方</th>
                                <th>批次</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for block in block_list %}
                                <tr>
                                    <td>{{ block.block_num }}</td>
                                    <td>{{ block.weight }}</td>
                                    <td>{{ block.long }}</td>
                                    <td>{{ block.width }}</td>
                                    <td>{{ block.high }}</td>
                                    <td>{{ block.m3 }}</td>
                                    <td>{{ block.batch }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">操作侧边栏</div>
                <div class="panel-body">
                    <a href="{% url 'purchase:import_order_update' object.id %}"
                       class="btn btn-default">编辑订单</a>
                    <a href="{% url 'purchase:import_order_delete' object.id %}"
                       class="btn btn-danger">删除订单</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}