{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{{ object.order }}</h2>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ object }}</div>
                    <div class="panel-body">

                        <ul>
                            <li>付款日期：{{ object.date }}</li>
                            <li>付款金额：{{ object.handler }}</li>
                            <li>款项用途：{{ object.created|date }}</li>
                            <li>收款人：{{ object.payee }}</li>
                            <li>收款人账户：{{ object.payee_account }}</li>
                            <li>美金金额:{{ object.usd_amount }}</li>
                            <li>汇率:{{ object.exchange_rate }}</li>
                            <li>经办人：{{ handler }}</li>
                            <li>备注:{{ object.ps }}</li>
                            <li>相关文件:{{ object.file }}</li>
                            <li>记录人员：{{ object.data_entry_staff }}</li>
                            <li>创建日期：{{ object.created }}</li>
                            <li>修改日期:{{ object.updated }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">操作侧边栏</div>
                <div class="panel-body">
                    <a href="{% url 'purchase:purchase_order_create' %}" class="btn btn-default">新建记录</a>
                    <a href="{% url 'purchase:payment_update' object.id %}" class="btn btn-default">编辑</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}