{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{% if object %}{{ object.order }}{% else %}新采购订单{% endif %}</h2>
        </div>
        <div class="col-md-8">
            <form action="{% url 'purchase:purchase_order_create' %}" method="post">
                {{ form|as_bootstrap }}
                {#                {{ itemform|as_bootstrap_inline }}#}
                {% csrf_token %}

                {{ formset }}
                <input type="submit" class="btn btn-primary" value="提交">
            </form>
            <br class="divider">

            {#            <form id="myForm" method="post" action="">#}
            {#                <table border="0" cellpadding="0" cellspacing="0">#}
            {#                    <tbody>#}
            {#                    {% for form in formset.forms %}#}
            {#                        <tr>#}
            {#                            <td>#}
            {#                                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}#}
            {#                                {{ form.field1 }}#}
            {#                            </td>#}
            {#                            <td>{{ form.field2 }}</td>#}
            {#                            <td>{{ form.field3 }}</td>#}
            {#                        </tr>#}
            {#                    {% endfor %}#}
            {#                    </tbody>#}
            {#                </table>#}
            {#                {{ formset.management_form }}#}
            {#            </form>#}

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">操作侧边栏</div>
                <div class="panel-body">
                    <a href="{% url 'purchase:purchase_order_create' %}" class="btn btn-default">新建订单</a>
                </div>
            </div>
        </div>
    </div>
    {#    <script type="text/javascript">#}
    {#        $(function () {#}
    {#            $('#myForm tbody tr').formset({#}
    {#                prefix: '{{ formset.prefix }}'#}
    {#            });#}
    {#        })#}
    {#    </script>#}
{% endblock %}