{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{{ object.order }}</h2>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ object }}</div>
                    <div class="panel-body">
                        <ul>
                            <li>{{ object.supplier }}</li>
                            <li>{{ object.handler }}</li>
                            <li>{{ object.created|date }}</li>
                            <li>{{ form }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">操作侧边栏</div>
                <div class="panel-body">
                    <a href="{% url 'purchase:purchase_order_create' %}" class="btn btn-default">新建订单</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}