{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>{{ object.order }}</h2>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ object }}</div>
                    <div class="panel-body">

                        <ul>
                            <li>{{ object.supplier }}</li>
                            <li>{{ object.handler }}</li>
                            <li>{{ object.created|date }}</li>
                            {#                            {% if not block_list %}#}
                            {#                                <li>#}
                            {#                                    <form action="{% url 'purchase:purchase_order_create_import_item' %}?order_id={{ object.id }}"#}
                            {#                                          enctype="multipart/form-data"#}
                            {#                                          method="post">{{ form }}{% csrf_token %}<input type="submit"#}
                            {#                                                                                         value="提交">#}
                            {#                                    </form>#}
                            {#                                </li>{% endif %}#}
                        </ul>
                    </div>
                </div>
            </div>
            {% if block_list %}
                <table class="table" id="myForm">
                    <thead>
                    <tr>
                        <th>荒料编号</th>
                        <th>重量</th>
                        <th>长</th>
                        <th>宽</th>
                        <th>高</th>
                        <th>立方</th>
                        <th>批次</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for block in block_list %}
                        <tr>
                            <td>{{ block.block_num }}</td>
                            <td>{{ block.weight }}</td>
                            <td>{{ block.long }}</td>
                            <td>{{ block.width }}</td>
                            <td>{{ block.high }}</td>
                            <td>{{ block.m3 }}</td>
                            <td>{{ block.batch }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        <div class="divider"></div>
            {% if payment_history %}
                <div class="panel panel-default">
                <div class="panel-heading">本订单付款记录</div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            {% for payment in payment_history %}
                                <li>
                                    <a href="{{ payment.get_absolute_url }}">{{ payment.date }}:[{{ payment.get_use_type_display }}]{{ payment.order }}/￥{{ payment.amount }}/{{ payment.payee }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">操作侧边栏</div>
                    <div class="panel-body">
                        <a href="{% url 'purchase:purchase_order_create' %}" class="btn btn-default">新建订单</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var editor; // use a global for the submit and return data rendering in the examples
            $(document).ready(function () {
                $('#myForm').DataTable(
                )
            });</script>
{% endblock %}