{% extends 'base.html' %}
{% block title %}购物车{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>序号</th>
            <th>荒料编号</th>
            <th>厚度</th>
            <th>件数</th>
            <th>平方</th>
            <th>单价</th>
            <th>码单</th>
        </tr>
        {% for object in object_list %}
            {% for key, item in object.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ key }}</td>
                    <td>{{ item.thickness }}</td>
                    <td>{{ item.block_pics }}</td>
                    <td>{{ item.block_m2 }}</td>
                    <td>
                        <form method="post">
                            {{ object.price_form.price }}
                            <input type="submit" value="更新">
                        </form>
                    </td>
                    <td>ps</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}