{% extends 'base.html' %}
{% block title %}购物车{% endblock %}

{% block main %}

    <table class="table">
        <tr>
            <th>序号</th>
            <th>荒料编号</th>
            <th>厚度</th>
            <th>件数</th>
            <th>平方</th>
            <th>单价</th>
            <th>码单</th>
            <th>删除</th>
        </tr>

        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.block_num }}</td>
                <td>{{ object.thickness }}</td>
                <td>{{ object.block_pics }}</td>
                <td>{{ object.block_m2 }}</td>
                <td>
                    <form method="post" action="{% url 'cart:update_price' %}">
                        {{ object.price_form.price }}
                        <input type="hidden" name="item" value="{{ object.block_num }},{{ object.thickness }}">
                        <input class="btn btn-default" type="submit" value="更新">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    {#                    <a class="button" href="{% url 'product:slab_list'  object.block_num %}?slab_ids={{ object.slab_ids }}">打开</a>#}
                    {#                    <a href="{% url 'product:slab_list' object.block_num %}?slab_ids={{ object.slab_ids }}"#}
                    {#                       class="btn btn-default" data-toggle="modal" data-target="#slab_list">#}
                    {#                        打开#}
                    {#                    </a>#}
{#                    <a data-toggle="modal" data-target="#slab_list" onclick=targetto("{{ object.block_num }}")>打开</a>#}
                </td>
                <td>
                    <form action="{% url 'cart:remove' %}" method="post">
                        <input type="hidden" name="item" value="{{ object.slab_ids }}">
                        {% csrf_token %}
                        <input type="submit" value="删除">
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>
    <div class="modal fade" id="slab_list">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="page-header">这里内容</h2>
                </div>
            </div>
        </div>
    </div>
{#    <script>#}
{#        $("#slab_list").on("hidden.bs.modal", function () {#}
{#            $(this).removeData("bs.modal");#}
{#        });#}
{#        function targetto(block_num) {#}
{#            $("#slab_list").modal({#}
{#                remote: "{% url 'product:slab_list' block_num %}"#}
{#            })#}
{#        }#}
{#        ;#}
{#    </script>#}

{% endblock %}

