{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block menu %}
{% endblock %}
{% block body_tag %}onunload="window.opener.location.reload(){% endblock %}
{#{% block jumbotron %}<h2 class="page-header">{{ object.block_num }}</h2>{% endblock %}#}
{% block main %}
    <form method="post" id="slab_form" action="{% url 'cart:add' %}">

        {% for item in slab_list %}
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#{{ item.thickness|slugify }}">
                    {{ item.thickness }}
                    厚度/{{ item.part_count }}
                    夹/ {{ item.block_pics }}
                    件/ {{ item.quantity }}
                    m2</a>
                    <ul class="nav nav-tabs">
                        {% for part_key ,part_value in item.part_num.items %}
                            <li {% if forloop.first %} class="active" {% endif %}><a
                                    {% if forloop.first %}aria-expanded="true"{% endif %}
                                    data-toggle="tab"
                                    href="#{{ item.thickness|slugify }}{{ part_key }}">
                                {{ part_key }}#夹</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
        <div class="tab-content">
            {% if block_type %}
                {% for block in slab_list %}
                    <div role="tabpanel" class="tab-pane {% if forloop.first %} active{% endif %}"
                         id="{{ slabs.thickness|slugify }}{{ part_key }}">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-body">
                            <input type="checkbox" name="check_box_list"
                                   value="{{ block.block_num }}">
                            {{ block.thickness }}/{{ block.quantity }}{{ block.unit }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for slabs in slab_list %}

                    {#            <div id="{{ slabs.thickness|slugify }}">#}
                    {#                <h2 class="page-header">{{ slabs.thickness }}#}
                    {#                    厚度/{{ slabs.part_count }}#}
                    {#                    夹/ {{ slabs.block_pics }}#}
                    {#                    件/ {{ slabs.block_m2 }}#}
                    {#                    m2#}
                    {#                    <small class="pull-right">#}
                    {#                        <div class="checkbox btn btn-default btn-sm">#}
                    {#                            <label>#}
                    {#                                <input type="checkbox"#}
                    {#                                       id="{{ slabs.thickness|slugify }}{{ part_key }}_all"#}
                    {#                                       onclick="select_all(this.id, this.checked)">全选/不选#}
                    {#                            </label>#}
                    {#                        </div>#}
                    {#                    </small>#}
                    {#                </h2>#}


                    {% for part_key ,part_value in slabs.part_num.items %}

                        <div role="tabpanel"
                             class="tab-pane {% if forloop.first %} active{% endif %}"
                             id="{{ slabs.thickness|slugify }}{{ part_key }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">{{ part_key }}#
                                        夹/ {{ part_value.part_pics }}
                                        件/ {{ part_value.part_m2 }} m2
                                        <div class="pull-right">
                                            <input type="checkbox"
                                                   class=" btn btn-default btn-sm"
                                                   id="
                                                           {{ slabs.thickness|slugify }}{{ part_key }}_all"
                                                   onclick="select_all(this.id, this.checked)">
                                            <a class="btn btn-link"
                                               id="
                                                       {{ slabs.thickness|slugify }}{{ part_key }}_reverse"
                                               onclick="select_reverse(this.id)">反选
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th width="10%">选择</th>
                                            <th width="15%">序号</th>
                                            <th width="55%">规格</th>
                                            <th>m2</th>
                                        </tr>
                                        {% for slab in part_value.slabs %}
                                            <tr class="clickable-row">
                                                <td>
                                                    <input type="checkbox" name="check_box_list"
                                                           onchange="sum_m2()"
                                                           {% if slab.id|stringformat:"i" in slab_ids %}checked="checked"{% endif %}
                                                           value="{{ slab.id }}">
                                                </td>
                                                <td>{{ slab.line_num }}</td>
                                                <td>{{ slab }}</td>
                                                <td id="{{ slab.id }}m2">{{ slab.m2 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>

                        </div>
                    {% endfor %}

                    {#            </div>#}
                {% endfor %}
            {% endif %}
            </div>
            <input type="hidden" name="path" value="{{ request.path }}">
            <input type="hidden" name="block_num" value="{{ object.block_num }}">
            <input type="hidden" name="thickness" value="{{ object.thickness }}">
            <input type="hidden" name="key" value="current_order">
            <input type="hidden" name="block" value="{% ifequal object.block_type 'otw' %}1{% else %}0{% endifequal %}">
            {% csrf_token %}
    </form>
    <div class="navbar navbar-fixed-bottom">
        <ul class="list-unstyled">
            <li><input class="btn btn-primary btn-block" type="submit"
                       value="添加到选择列表" form="slab_form"></li>
            <li>
                <ul class="list-inline" style="background-color: #f5f5f5">
                    <li class="col-md-4"><h3>{{ object.block_num }}</h3>
                    </li>
                    <li>
                        <ul>
                            {% for item in slab_list %}

                                <li>{{ item.thickness }}
                                    厚度
                                </li>
                                <li>{{ item.part_count }}
                                    夹
                                </li>
                                <li>{{ item.block_pics }}
                                    件
                                </li>
                                <li>{{ item.block_m2 }}
                                    m2
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="col-md-6 pull-right">目前已勾选:
                        <ul id="selected_info">
                            <li name="pics"><b>pics</b>件</li>
                            <li name="m2"><b>m2</b>m2</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="{% static "js/myJS.js" %}"></script>
{% endblock %}
{% block domready %}
    sum_m2()
{% endblock %}


<div role="tabpanel">
    <div>
        {#            <div class="pull-right">{% show_cart_info %}</div>#}

        {% for item in slab_list %}
            <div class="pull-left">
                <a href="#{{ item.thickness|slugify }}">{{ item.thickness }}
                    厚度/{{ item.part_count }}
                    夹/ {{ item.block_pics }}
                    件/ {{ item.block_m2 }}
                    m2</a>
                <div class="nav nav-tabs">
                    {% for part_key ,part_value in item.part_num.items %}
                        <li><a data-toggle="tab"
                               href="#{{ item.thickness|slugify }}{{ part_key }}">{{ part_key }}#
                            夹/ {{ part_value.part_pics }}
                            件/ {{ part_value.part_m2 }} m2</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="pull-right">目前已勾选:
            <ul id="selected_info">
                <li name="pics"><b>pics</b>件</li>
                <li name="m2"><b>m2</b>m2</li>
            </ul>
        </div>

    </div>
</div>