{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block jumbotron %}
    <h2 class="page-header">{{ object }}</h2>
{% endblock %}
{% block main %}
    <form method="post" id="slab_form" action="{% url 'cart:add' %}">
        {% for slab in slab_list.values %}
            {% for thickness_key, thickness_values in slab.items %}
                <h4>{{ thickness_key }}/{{ thickness_values.block_pics }}/{{ thickness_values.block_m2 }}</h4>
                <ul>
                    {% for part_key, part_value in thickness_values.part_num.items %}
                        <li>{{ part_key }}/{{ part_value.part_pics }}/{{ part_value.part_m2 }}
                            <div class="panel panel-default">

                                <table class="table">
                                    <tr>
                                        <th width="10%">选择</th>
                                        <th width="10%">序号</th>
                                        <th>规格</th>
                                    </tr>
                                    {% for slab in part_value.slabs %}
                                        <tr>
                                            <td><input type="checkbox" name="check_box_list" value="{{ slab.id }}"></td>
                                            <td>{{ slab.line_num }}</td>
                                            <td>{{ slab }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}
        {% csrf_token %}
    </form>
{% endblock %}
{% block sidebar %}
    <input type="submit" value="添加到码单" form="slab_form">
{% endblock %}