{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block jumbotron %}
    <h2 class="page-header">{{ object }}</h2>
{% endblock %}
{% block main %}
{% for  %}
    <ul>
        <li>
            <div class="panel panel-default">

                <table class="table">
                    <tr>
                        <th width="10%">选择</th>
                        <th width="10%">序号</th>
                        <th>规格</th>
                    </tr>
                    {% for slab in part.list %}
                        <tr>

                            <td><input type="checkbox" name="select" value="{{ slab.id }}"></td>
                            <td>{{ slab.line_num }}</td>
                            <td>{{ slab }}</td>

                        </tr> {% endfor %}
                </table>
            </div>
        </li>
    </ul>
{% endblock %}