{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block jumbotron %}
    <h2 class="page-header">{{ object }}</h2>
{% endblock %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">详细资料</h3>
            <div class="panel-body">
                <ul>
                    <li>品种：{{ object.category }}</li>
                    <li>矿山:{{ object.quarry }}</li>
                    <li>批次:{{ object.batch }}</li>
                    <li>荒料规格:{{ object.long }} * {{ object.width }} * {{ object.high }}</li>
                    <li>m3:{{ object.m3 }} </li>
                    <li>重量:{{ object.weight }}</li>
                    <li>出材率：{{ object.ccl }}</li>
                    <li>更新日期:{{ object.updated }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">库存情况</h3>
            <div class="panel-body">
                <ul>
                    {% for inventory in inventory_list %}
                        <li>{{ inventory.type }}/{{ inventory.quantity }}{{ inventory.unit }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">事务记录</h3>
            <div class="panel-body">
                <ul>
                    {% for business in business_list %}
                        <li>{{ business.business }}/{{ business.quantity }}{{ business.unit }}/{{ business.date }}<a
                                href="{{ business.order.get_absolute_url }}">详细</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    侧边栏
{% endblock %}