<form method="post" id="slab_form" action="{% url 'cart:add' %}">
    {% for slabs in slab_list %}
        <h4>{{ slabs.thickness }}/{{ slabs.block_pics }}/{{ slabs.block_m2 }}</h4>
        <ul>
            {% for part_key ,part_value in slabs.part_num.items %}
                <li>{{ part_key }}/{{ part_value.part_pics }}/{{ part_value.part_m2 }}
                    <div class="panel panel-default">

                        <table class="table">
                            <tr>
                                <th width="10%">选择</th>
                                <th width="10%">序号</th>
                                <th>规格</th>
                            </tr>
                            {% for slab in part_value.slabs %}
                                <tr>
                                    <td><input type="checkbox" name="check_box_list" value="{{ slab.id }}"></td>
                                    <td>{{ slab.line_num }}</td>
                                    <td>{{ slab }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% csrf_token %}
</form>