{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    {# jQuery #}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

    {# datatables.js #}
    <script type="text/javascript" charset="utf8"
            src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
    <script src="{% static 'js/datatableview.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block messages %}
    {% include 'messages.html' %}
{% endblock %}
{% include 'menu.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">{% block jumbotron %}{% endblock %}</div>
        <div class="col-md-8">
            {% block main %}
                <div class="list-group">
                    {% block list_group %}

                    {% endblock %}
                </div>
            {% endblock %}
            {% block extra_item_1 %}{% endblock %}
            {% block extra_item_2 %}{% endblock %}
            {% block extra_item_3 %}{% endblock %}
        </div>
        <div class="col-md-4">
                {% block sidebar %}
                {% endblock %}
        </div>
    </div>
{% endblock %}
{#<script src="{% static 'js/datatableview.js' %}"></script>#}

<script type="text/javascript">
    $(document).ready(function () {
        Vue.config.delimiters = ["[[", "]]"]
        {% block domready %}
        {% endblock %}
    })
</script>
</body>
</html>